<h1>Album: <%= @album.title %></h1>

<ul>
  <% @photos.each do |photo| %>
  <li><a href="/uploads/<%= photo.image.identifier! %>"><img src="/uploads/<%= photo.image.identifier! %>"></a></li>
  <% end %>
</ul>
