<h1>Home</h1>

<ul>
  <% @albums.each do |album| %>

<li><a href="/album/<%= album.id %>"><%= album.title %></a></li>
    <% if album.photos.first %><img src="/uploads/<%= album.photos.first.image.identifier! %>"><% end %>

  <% end %>
</ul>



